html, body* {
    font-size: 16px;
    font-family: <link rel="preconnect" href="https://fonts.googleapis.com" ><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap" rel="stylesheet" >;
}

body {
    background-color:rgb(158, 238, 254);
    color: black;
    text-align: center

}

h1{
    font-size:50px;
}

.titles {
    font-size: 40px;

}

.text{
    font-size: 25px;
    border: 3px solid black;
    margin: 20px;
    text-align: left

}


